
{% extends 'main_app/index.html' %}
{% load negate %}
{% load star %}
{% load static %}


{% block css_head %}

    
{% endblock %}
{% block head_block %}


{% endblock %}


{#{% block content %}#}
{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/offering.css' %}" />
<div class="container-k">
<div class="offering-container">

    <div class="offering-detailse">
        <!-- OFFERING DETAILS -->
        <h1>{{ offering.title }}</h1>
        <p><strong>Description:</strong> {{ offering.description }}</p>
        <p><strong>Price:</strong> ${{ offering.price }}</p>
        <p><strong>Host User:</strong> {{ offering.host_user.username }}</p>
        <p><strong>Availability Start Date:</strong> {{ offering.availability_start_date }}</p>
        <p><strong>Availability End Date:</strong> {{ offering.availability_end_date }}</p>
        <p><strong>Offering Type:</strong> {{ offering.get_offering_type_display }}</p>
        <p><strong>Offering Time:</strong> {{ offering.offering_time }}</p>
        <p><strong>Offering Description:</strong> {{ offering.offering_description }}</p>
        {% if user.is_authenticated and request.user != offering.host_user %}
            
            {% if offering.id in user_bookings %}
                <form action="{% url 'cancel_booking' offering.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Cancel Booking">
                </form>
            {% else %}
                <a href="{% url 'create_booking' offering.id %}" class="btn btn-primary">Book</a>
            {% endif %}
        
        {% endif %}
    </div>
    <div class="offering-image">
        <img src="{{ offering.offering_image.url }}" alt="Offering Image">
    </div>
</div>

    {% if reviews %}
    <!-- REVIEWS SECTION -->
    <div class="reviews-section">
        <h2>Ratings & Comments</h2>


<div class="section-container">
    <!-- Average Ratings -->
    <div class="ratings-comments">
        <div class="avg-rating-section">
            Average Ratings:
            <div class="rating-stars">
                {% for star in avg_rating|star %}
                    ★
                {% endfor %}
                {% for star in avg_rating|negate|add:5|star %}
                    ☆
                {% empty %}
                    No ratings yet.
                {% endfor %}
            </div>
        </div>

        <!-- Total Comments -->
        <div class="total-comments">
            Total Comments: {{ total_comments }}
        </div>
    </div>

    <!-- Order Form -->
    <form method="get" class="inline-form">
        {% for field in review_order_form %}
            <div class="form-field">
                {{ field }}{% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
            </div>
        {% endfor %}
        <button type="submit" style="background-color: black;">Sort By</button>
    </form>
</div>



        <!-- USER REVIEWS -->
        <ul>
            {% for review in reviews %}
                <li class="review-item">
                    <strong>{{ review.user.username }}</strong> ({{ review.created_at|timesince }} ago): {{ review.text }}
                    <div class="rating-stars blocky">
                        {% for star in review.score|star %}
                            ★
                        {% endfor %}
                        {% for star in review.score|negate|add:5|star %}
                            ☆
                        {% empty %}

                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!-- FORM TO SUBMIT A NEW RATING -->
    {% if user.is_authenticated and request.user != offering.host_user %}
    <form method="post" action="{% url 'offering_page' offering.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class style="background-color: black;">Submit Review</button>
    </form>
    {% endif %}
</div>


















{% endblock %}














