{% extends 'main_app/index.html' %} 
{% load static %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block body_block %}

{#If you want all users to view the offerings, but only authenticated users who are also the host user to edit or delete the form, you can use conditional logic in your template to show the edit and delete options only to authenticated users who are the host of the offering.#}
{##}
{#Here's how you can modify your offering_detail.html template to achieve this:#}

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
    <h2>{{ offering.title }}</h2>
    <p  class="display-4"><strong>Description:</strong> {{ offering.description }}</p>
    <p><strong>Price:</strong> {{ offering.price }}</p>
    <p><strong>Host User:</strong> {{ offering.host_user }}</p>
    <p><strong>Start Date:</strong> {{ offering.availability_start_date }}</p>
    <p><strong>End Date:</strong> {{ offering.availability_end_date }}</p>
    <p><strong>Offering Type:</strong> {{ offering.offering_type }}</p>
    {% if offering.offering_image %}
        <img src="{{ offering.offering_image.url }}" alt="Offering Image">
    {% endif %}
{#      <form method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <table>#}
{#        {{ form.offering_image.errors }}#}
{#        {{ form.offering_image.label_tag }}#}
{#        {{ form.offering_image }}#}
{#    </table>#}
{#</form>#}
    <p><strong>Time:</strong> {{ offering.offering_time }}</p>
    

{#     <div class="mt-4">#}
      <div>
    {% if request.user.is_authenticated and request.user == offering.host_user %}
     <div class="row">
    <div class="col">
        <form action="{% url 'offering_edit' pk=offering.pk %}" method="get" class="edit-form" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
    <div class="col">
        <form action="{% url 'offering_delete' pk=offering.pk %}" method="get" class="delete-form" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
</div>
        </div>

    {% endif %}
     </div>
</div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="display-4">{{ offering.title }}</h1>
        <p class="lead">{{ offering.description }}</p>
      
      <div class="mt-4">
  <!-- button to book the offering -->
{% if user.is_authenticated %}
    {% if offering.id in user_bookings %}
        <form action="{% url 'cancel_booking' offering.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Cancel Booking">
        </form>
    {% else %}
        <a href="{% url 'create_booking' offering.id %}" class="btn btn-primary">Book</a>
    {% endif %}
{% else %}
    <!-- Display something else for non-authenticated users, like a login/register link -->
{% endif %}
</form>
  <h2>Ratings</h2>
  {% if offering.ratings.all %}
    <ul class="list-group">
      {% for rating in offering.ratings.all %}
        <li class="list-group-item">
          <span class="font-weight-bold">Rated </span> 
{#          {% with rating.score|stars as rating_stars %}#}
               {% with rating.score as rating_stars %}
            {% for _ in rating_stars.full_stars %}
              <span class="fa fa-star"></span>
            {% endfor %}
            {% if rating_stars.half_star %}
              <span class="fa fa-star-half"></span>
            {% endif %}
            {% for _ in rating_stars.empty_stars %}
              <span class="fa fa-star-o"></span>
            {% endfor %}
          {% endwith %}
          by {{ rating.user.username }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No ratings yet.</p>
  {% endif %}
</div>

        <div class="mt-4">
          <h2>Comments</h2>
          {% if offering.comments.all %}
            <div class="list-group">
              {% for comment in offering.comments.all %}
                <div class="list-group-item">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.user.username }}</h5>
                    <small>{{ comment.created_at|date:"F d, Y h:i A" }}</small>
                  </div>
                  <p class="mb-1">{{ comment.text }}</p>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p>No comments yet.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}






