{% extends 'main_app/index.html' %} 

{% load static %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block body_block %}

<div class="container mx-auto mt-5">
  <div class="bg-white shadow-md rounded-md px-8 py-6">
    <h2 class="text-2xl font-semibold">{{ offering.title }}</h2>
    <p class="text-lg"><strong>Description:</strong> {{ offering.description }}</p>
    <p class="text-lg"><strong>Price:</strong> {{ offering.price }}</p>
    <p class="text-lg"><strong>Host User:</strong> <a href="{% url 'user_profile' offering.host_user.username %}" class="text-blue-500 hover:underline">{{ offering.host_user.username }}</a></p>
    <p class="text-lg"><strong>Start Date:</strong> {{ offering.availability_start_date }}</p>
    <p class="text-lg"><strong>End Date:</strong> {{ offering.availability_end_date }}</p>
    <p class="text-lg"><strong>Offering Type:</strong> {{ offering.offering_type }}</p>
    <p class="text-lg"><strong>Time:</strong> {{ offering.offering_time }}</p>
    {% if offering.offering_image %}
        <img src="{{ offering.offering_image.url }}" alt="Offering Image" class="mt-4 rounded-lg">
    {% endif %}
    
    {% if request.user.is_authenticated and request.user == offering.host_user %}
    <div class="mt-6 flex items-center space-x-4">
      <form action="{% url 'offering_edit' pk=offering.pk %}" method="get" class="edit-form">
        {% csrf_token %}
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg">Edit</button>
      </form>
      <form action="{% url 'offering_delete' pk=offering.pk %}" method="get" class="delete-form">
        {% csrf_token %}
        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg">Delete</button>
      </form>
      <form action="{% url 'offering_page' pk=offering.pk %}" method="get" class="view-form">
        {% csrf_token %}
        <button type="submit" class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded-lg">View</button>
      </form>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
