{% extends 'main_app/index.html' %}
{% load static %}

{% block body_block %}
<main>
  <div class="main-content d-flex flex-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="post-meta">
            <span class="post-date"
              >Joined on {{ user.date_joined|date:"M d, Y" }}</span
            >
          </div>
          <h1 class="page-title">
            Exploring the world through my lens, one snapshot at a time.
          </h1>
          <div class="feature-image">
            <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static '/images/default-avatar.png' %}{% endif %}" alt="Profile Picture" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="post-content">
            <h2>User Details</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
                                    {% if user.bio %}
                        <p>Bio: {{ user.bio }}</p>
                        {% endif %}
                        {% if user.location %}
                        <p>Location: {{ user.location }}</p>
                        {% endif %}
                        {% if user.occupation %}
                        <p>Occupation: {{ user.occupation }}</p>
                        {% endif %}
                        {% if user.hobbies %}
                        <p>Hobbies: {{ user.hobbies }}</p>
                        {% endif %}
                        {% if user.languages %}
                        <p>Languages: {{ user.languages }}</p>
                        {% endif %}
                        {% if user.travel_destinations %}
                        <p>Travel Destinations: {{ user.travel_destinations }}</p>
                        {% endif %}
                        {% if user.goals %}
                        <p>Goals: {{ user.goals }}</p>
                        {% endif %}
            <div class="post-tags">
              <div class="block-tag">
                <ul class="list-unstyled d-flex">
                  <li>
                    <a
                      href="{%  url 'editprofile' %}"
                      class="btn btn-dark btn-small btn-rounded"
                      >Edit Profile</a
                    >
                  </li>
                  <li>
                    <a
                      href="{%  url 'addoffering' %}"
                      class="btn btn-dark btn-small btn-rounded"
                      >Add Offering</a
                    >
                  </li>
                  <li>
                    <a
                      class="btn btn-dark btn-small btn-rounded"
                      onclick="toggleServices('services-offered')"
                      >My Offerings</a
                    >
                    <section id="services-offered" class="services-list hidden">
                      <h5>Services Offered</h5>
                      <ul>
                        <!-- Dynamic content for services offered -->
                        {% for service in services_offered %}
                        <li>
                          <a href="{% url 'offering_detail' service.pk %}"
                            >{{ service.title }}</a
                          >
                        </li>
                        {% endfor %}
                      </ul>
                    </section>
                  </li>
                  <li>
                    <a
                      class="btn btn-dark btn-small btn-rounded"
                      onclick="toggleServices('services-taken')"
                      >My Bookings</a
                    >
                    <section id="services-taken" class="services-list hidden">
                      <h5>Services Taken</h5>
                      <ul>
                        <!-- Dynamic content for services taken -->
                        {% for service in services_taken %}
                        <li><a href="{% url 'booking_detail' service.pk %}">{{ service.offering.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </section>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Section 2 - My Offerings-->
  <section id="latest-blog" class="padding-large">
    <div class="container">
      <div
        class="section-header d-flex flex-wrap align-items-center justify-content-between"
      >
        <h2 class="section-title">My Offerings</h2>
      </div>
      <div class="row d-flex flex-wrap">
      {% if services_offered %}
        {% for service in services_offered %}
            <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
                  <a href="{% url 'offering_detail' service.pk %}">
                     <img src="{{ service.offering_image.url }}" alt="{{ service.title }}" class="post-image" />
                 </a>
            </div>
            <div class="post-content d-flex">
              <div class="post-header">
                <h3 class="post-title">
                  <a href="{% url 'offering_detail' service.pk %}">{{ service.title }}</a>
                </h3>
                <p>{{ service.description }}</p>
              </div>
            </div>
          </article>
        {% endfor %}
      {% else %}
                <p>You do not have any offerings yet</p>
                {% endif %}
        </div>
      </div>
  </section>

    <!-- Section 3 - My Bookings-->
 <section id="latest-blog" class="padding-large">
    <div class="container">
      <div
        class="section-header d-flex flex-wrap align-items-center justify-content-between"
      >
        <h2 class="section-title">My Bookings</h2>
      </div>
      <div class="row d-flex flex-wrap">
      {% if services_taken %}
        {% for service in services_taken %}
            <article class="col-md-4 post-item">
            <div class="image-holder zoom-effect">
                  <a href="{% url 'booking_detail' service.pk %}">
                     <img src="{{ service.offering.offering_image.url }}" alt="{{ service.title }}" class="post-image" />
                 </a>
            </div>
            <div class="post-content d-flex">
              <div class="post-header">
                <h3 class="post-title">
                  <a href="{% url 'booking_detail' service.pk %}">{{ service.offering.title }}</a>
                </h3>
                <p>{{ service.offering.description }}</p>
              </div>
            </div>
          </article>
        {% endfor %}
      {% else %}
                <p>You do not have any bookings yet</p>
                {% endif %}
        </div>
      </div>
  </section>


</main>

<script>
  function toggleServices(activeSectionId) {
    var serviceSections = document.querySelectorAll(".services-list");
    serviceSections.forEach(function (section) {
      section.classList.add("hidden");
    });
    var activeSection = document.getElementById(activeSectionId);
    activeSection.classList.remove("hidden");
  }
</script>
{% endblock %}
