{% extends 'main_app/base.html' %}

{% load stars %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="display-4">{{ offering.title }}</h1>
        <p class="lead">{{ offering.description }}</p>
      
      <div class="mt-4">
  <h2>Ratings</h2>
  {% if offering.ratings.all %}
    <ul class="list-group">
      {% for rating in offering.ratings.all %}
        <li class="list-group-item">
          <span class="font-weight-bold">Rated </span> 
          {% with rating.score|stars as rating_stars %}
            {% for _ in rating_stars.full_stars %}
              <span class="fa fa-star"></span>
            {% endfor %}
            {% if rating_stars.half_star %}
              <span class="fa fa-star-half"></span>
            {% endif %}
            {% for _ in rating_stars.empty_stars %}
              <span class="fa fa-star-o"></span>
            {% endfor %}
          {% endwith %}
          by {{ rating.user.username }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No ratings yet.</p>
  {% endif %}
</div>
      
      
      
      
      

        <div class="mt-4">
          <h2>Comments</h2>
          {% if offering.comments.all %}
            <div class="list-group">
              {% for comment in offering.comments.all %}
                <div class="list-group-item">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.user.username }}</h5>
                    <small>{{ comment.created_at|date:"F d, Y h:i A" }}</small>
                  </div>
                  <p class="mb-1">{{ comment.text }}</p>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p>No comments yet.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}






