<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
</head>
<body>

 <div class="m-5"> <h3> FindYourGuide </h3></div>
    <table id="product-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#product-table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'products_api' %}",
                "columns": [
                    {"data": "name"},
                    {"data": "description"},
                    {"data": "price"},
                    {"data": "currency"},
                    {"data": "image", "render":function(data,type, full, meta){
                        return `<div style="text-align: center;"><img src="${full.image}" alt="${full.name}" width="100"></div>`;
                    }
                    },
                    {
                        "data": "action",
                        "render": function(data, type, full, meta) {
                            //console.log(data, type, full)
                            return '<a href="/products/' + full['id'] + '">View and Payment</a>';
                        }
                    }
                ],
                "columnDefs": [
                   { "className": "dt-center", "targets": "_all" } // Center-align all columns
                ]
            });
        });
    </script>
</body>
</html>