{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'payment.js' %}"></script>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <img src="{% static 'dummy_product_image.jpg' %}" alt="Product Image" style="width: 100%">
        </div>
        <div class="column">
          <h1 class="title"> {{ product.name }}</h1>
          <p class="subtitle"> {{ product.description }}</p>
          <p>Price:  {{ product.currency }}  {{ product.price }}</p> <!-- Replace XX.XX with actual product price -->
          <form id="payment-form">
            <div class="field">
              <label class="label">Quantity</label>
              <div class="control">
                <input class="input" type="number" id="quantity" name="quantity" value="1" min="1">
              </div>
            </div>
            <button class="button is-primary" type="button" id="submitBtn" data-product-id="{{ product.id }}">Pay Now</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
